.title {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    padding-right: 300px;
    flex-wrap: wrap;
    height: 88vh;
    flex: 1 1 auto;
}

.button {
    padding-right: 50px;
    padding-top: 75px;    
}

.button #gridSize {
    border-style: none;
    padding: 40px 40px;
    border-radius: 10px;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid black;

}

.hover {
    background-color: red;
}

.grid-container {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    max-height: 700px;
    min-width: 700px;
    min-height: 700px;
}